
<body>

    <section>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </section>

    <div *ngIf="switchForm; else elseBlock "> 
      <h1 id="naslov">STAR CAST</h1>

        <div class="login-form">
            <h1 class = "login">
                <label>Login</label>
            </h1>
                <mat-form-field class="login-input" appearance="outline">
                <mat-label>Username</mat-label>
                <input type="email" matInput [(ngModel)]="email3" placeholder="Username" required>
                </mat-form-field>
        
                <mat-form-field class="login-input" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput [(ngModel)]="password3" placeholder="Password" [type]="hide ? 'password' : 'text'" required>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    <mat-hint *ngIf="passwordInput?.value">Enter your password</mat-hint>
                </mat-form-field>
                <p style="color: white;">
                    Don't have an account?  
                    <a (click)="redirectToSignup()" class="register-link">Register</a>
                </p>
        
            <button mat-button (click) = "redirectToHome()" class="login-button">Log in</button>
        </div>
    </div>
    <ng-template #elseBlock>
      <div class="register-form">
        <h1 class="login">
          <label>Sign up</label>
        </h1>
        <form style="display: flex; flex-direction: column; justify-content: center; align-items: center;" *ngIf="!switchForm" [formGroup]="signup">
          <div class="inputs">
            <div class="section">
              <mat-form-field class="register-input" appearance="outline">
                <mat-label>Firstname</mat-label>
                <input matInput placeholder="Ex. Pat" formControlName="firstname" />
              </mat-form-field>
      
              <mat-form-field class="register-input" appearance="outline">
                <mat-label>Lastname</mat-label>
                <input matInput placeholder="Ex. Pat" formControlName="lastname" />
              </mat-form-field>
      
              <mat-form-field class="register-input" appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Ex. Pat" formControlName="username" />
              </mat-form-field>
            </div>
            <div class="section">
              <mat-form-field class="register-input" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Ex. pat@example.com" formControlName="email" />
              </mat-form-field>
      
              <mat-form-field class="register-input" appearance="outline">
                <input
                  matInput
                  placeholder="Password"
                  [type]="hide ? 'password' : 'text'"
                  formControlName="password"
                />
                <mat-icon matSuffix (click)="hide = !hide">
                  {{ hide ? 'visibility_off' : 'visibility' }}
                </mat-icon>
              </mat-form-field>
      
              <mat-form-field class="register-input" appearance="outline">
                <input
                  matInput
                  placeholder="Re-enter Password"
                  [type]="hide ? 'password' : 'text'"
                  formControlName="password2"
                />
                <mat-icon matSuffix (click)="hide = !hide">
                  {{ hide ? 'visibility_off' : 'visibility' }}
                </mat-icon>
              </mat-form-field>
            </div>
          </div>
          <p style="color: white;">
            Back to
            <a href="/login" class="register-link">login</a>
          </p>
          <button mat-button (click)="redirectToLogin()" class="login-button">Register</button>
        </form>
      </div>
    </ng-template>

    

</body>
