<body>
    <mat-toolbar id="nav">
        <a style="text-decoration: none; cursor: pointer;" (click)="backToHome()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32" color="white" fill="none" style="cursor: pointer;">
                <path d="M9.03658 10.8665L10.0925 12.9957C10.2364 13.2921 10.6204 13.5764 10.9444 13.6309L12.8582 13.9515C14.082 14.1571 14.37 15.0524 13.4881 15.9355L12.0003 17.4356C11.7483 17.6897 11.6103 18.1796 11.6883 18.5305L12.1142 20.3875C12.4502 21.8574 11.6763 22.426 10.3864 21.6578L8.59263 20.5871C8.26867 20.3935 7.73473 20.3935 7.40476 20.5871L5.61096 21.6578C4.3271 22.426 3.54719 21.8513 3.88315 20.3875L4.3091 18.5305C4.3871 18.1796 4.24911 17.6897 3.99714 17.4356L2.5093 15.9355C1.6334 15.0524 1.91537 14.1571 3.13923 13.9515L5.05302 13.6309C5.37099 13.5764 5.75494 13.2921 5.89893 12.9957L6.95481 10.8665C7.53075 9.71116 8.46665 9.71116 9.03658 10.8665Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M22 2L14 10M16 2L11 7M20 10L17 13" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
            </svg>
        </a>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" matTooltip="Logout" aria-label="Example icon-button with heart icon" (click)="redirectToLogin()">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5z"/></svg>
        </button>
    </mat-toolbar>

    <div id="pozadina"></div>

    <button mat-icon-button class="go-to-top" *ngIf="showTopButton" (click)="scrollToTop()">
        <mat-icon>arrow_upward</mat-icon>
    </button>

    

    <div id="feed">
        <div id="scroll" #scroll (scroll)="onScroll()">

            <div class="profile">
                <div id="backgroundDiv" 
                    [ngStyle]="{'background-image': backgroundImageStyle}" 
                    (click)="expandImages([user?.backgroundImage!], 0)" 
                    class="background-div">

                    <div 
                            mat-card-avatar 
                            [style.background-image]="getProfileImage(user)"
                            (click)="expandImages([user?.profileImage],0,$event)"
                            class="postUserProfile profileBanner">
                            <label class="profileButton" *ngIf="post" (click)="$event.stopPropagation()">
                                <mat-icon>add_circle</mat-icon>
                                <input type="file" #fileInput  accept=".jpg, .jpeg, .png" (change)="onProfileButtonSelected($event)" style="display: none;">
                            </label>
                            <!--<p id="profileChangeLink" (click)="onProfileButtonSelected($event)">Edit profile picture</p> --ovo je bilo zakomentarisano-->
                        </div>
                    <label class="backgroundButton" *ngIf="post" (click)="$event.stopPropagation()">
                        <mat-icon>add_circle</mat-icon>
                        <input type="file" #fileInput  accept=".jpg, .jpeg, .png" (change)="onBackgroundButtonSelected($event)" style="display: none;">
                    </label>
                </div>
                        
                    <div class="wrapper">
                        <div class="columnflexdivs">
                            
                            
                            <div style="display: flex; flex-direction: row;">
                                <div class="columnflexdivs">
                                    <p class="followers">Followers</p>
                                    <p class="followers-count">{{user?.followers?.length  || 0}}</p>
                                </div>
                                <div class="columnflexdivs">
                                    <p class="followers">Followings</p>
                                    <p class="followers-count">{{user?.following?.length || 0}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="profiletext">
                            <h1>{{ user?.firstName }} {{ user?.lastName }}</h1>
                            <h3>&#64;{{user?.username}}</h3>
                            <div style="display: flex; align-items: center;" class="joined">
                                <mat-icon *ngIf="user?.userId===loggedUser?.userId" id="editDesc" (click)="openDialog()">edit</mat-icon>
                                <span *ngIf="!user?.description && user?.userId===loggedUser?.userId" class="italic">
                                    Add your description
                                </span>
                                <p *ngIf="user?.description" class="joined">
                                  {{ user.description }}
                                </p>
                            </div>
                                                          
                            <div class="datewrapper">
                                <svg [cIcon]="icons.cilCalendar" id="calendar"></svg>
                                <p class="joined">Joined {{formatDate(user?.joinDate)}}</p>
                            </div>

                            <span *ngIf="user?.userId!==loggedUser?.userId" style="height: 20px;"></span>
                        </div>
                        <span style="flex: 1 1;"></span>
                        <div class="followDivButton">
                            <button 
                            mat-stroked-button 
                            id="followButton" 
                            (click)="changeFollowStatus()"
                            *ngIf="!post"
                            >
                            {{ isfollowing() ? 'Unfollow' : 'Follow' }} <!-- Ovde treba setovati u odnosu da li prati korisnika ili ne, ukolniti da gleda po activu sluzi samo za mock-->
                            </button> 
                        </div>
                    </div>
                        
            
            </div>
            <div class="postinput" *ngIf="post">
                
                <div id="logoinput">
                    <div 
                            mat-card-avatar 
                            [style.background-image]="getProfileImage(user)"
                            class="postUserProfile">
                    </div>
                    <form class="example-form">
                        <mat-form-field class="example-full-width">
                        <mat-label>Release a star :)</mat-label>
                        <textarea matInput #message maxlength="512" rows="1" (input)="onInput(message)" style="overflow: hidden;"></textarea>
                        <mat-hint align="end">{{message.value.length}} / 512</mat-hint>
                        </mat-form-field>
                        <div id="divPreview">
                        <div class="image-container-post" *ngIf="previewImages.length > 0">
                            <div class="image-box-post" *ngFor="let preview of previewImages ; let i = index" >
                                <img [src]="preview" alt="Image preview" class="previewImage" />
                                <button class="remove-btn" (click)="removeImage(i)">X</button>
                            </div>
                        </div>
                              
                        </div>
                    </form>
                </div>
                <div class="postButton">
                    <label class="custom-file-upload">
                        <mat-icon id="uploadicon">cloud_upload</mat-icon>   Upload image
                        <input type="file" #fileInput  accept=".jpg, .jpeg, .png" (change)="onFileSelected($event)" style="display: none;" multiple>
                    </label>
                    <button mat-stroked-button id="postbutton" [disabled]="!message.value || message.value.trim().length === 0" (click)="postStar(message)">Release</button>  
                </div> 
            </div>
              
            <mat-card class="example-card" appearance="outlined" *ngFor="let star of stars">
                <mat-card-header>
                <div class="carddiv">
                    <div 
                        mat-card-avatar 
                        [style.background-image]="getProfileImage(star?.user!)"
                        style="background-size: cover; background-position: center; ">
                    </div>
                    <mat-card-title class="title">{{ star?.user?.firstName }} {{ star?.user?.lastName }}</mat-card-title>
                </div>
                <mat-card-subtitle style="font-size: smaller; font-weight: lighter;">{{star.timestamp}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        {{star.content}}
                    </p>
                </mat-card-content>
                <ng-container *ngIf="star?.images">
                    <!--<div id="onlyImageDiv" *ngIf="star.content_imgs.length === 1">
                        <img id="onlyImage"
                            [src]="star.content_imgs[0]" 
                            (click)="expandImages(star.content_imgs, 0)" 
                            alt="Gallery Image" />
                    </div>
                    <div *ngIf="star.content_imgs.length !== 1">-->
                        <mat-grid-list cols="2" rowHeight="2:1">
                            <mat-grid-tile *ngFor="let image of star.images.slice(0, 1)">
                            <img [src]="starBasePath +image" (click)="expandImages(star.images, star.images.indexOf(image))" alt="Gallery Image" />
                            </mat-grid-tile>
                        
                            <mat-grid-tile *ngIf="star.images.length === 2">
                            <img [src]="starBasePath +star.images[1]" (click)="expandImages(star.images, 1)" alt="Gallery Image" />
                            </mat-grid-tile>
                        
                            <mat-grid-tile *ngIf="star.images.length > 2">
                            <div class="overlay" (click)="expandImages(star.images, 1)">
                                <span>+{{ star.images.length - 1 }} more</span>
                            </div>
                            </mat-grid-tile>
                        </mat-grid-list>
                    <!--</div>-->
                      
                  </ng-container>
                  
                  
                  <mat-card-actions>
                    <div style="display: flex; flex-direction: row; align-items: center; margin-left: 10px;">
                        @if(didILikeThePost(star.userLikes)) {
                            <button mat-button (click)="unlikePost(loggedUser!.userId, star)">
                                <span style="display: flex; align-items: center; color: rgb(131, 185, 255);">
                                    <mat-icon style="color: rgb(13, 0, 255);">thumb_up</mat-icon>
                                    <p style="margin-left: 10px; margin-right: 5px; margin-bottom: 0;">{{ star.userLikes.length || 0 }}</p>
                                </span>
                            </button>
                        } @else {
                            <button mat-button (click)="likePost(loggedUser!.userId, star)">
                                <span style="display: flex; align-items: center; color: rgb(131, 185, 255);">
                                    <mat-icon style="color: rgb(131, 185, 255);">thumb_up</mat-icon>
                                    <p style="margin-left: 10px; margin-right: 5px; margin-bottom: 0;">{{ star.userLikes.length || 0 }}</p>
                                </span>
                            </button>
                        }
                    </div>
                    
                    <button mat-button style="min-width: 50px; color: rgb(131, 185, 255);"><mat-icon >share</mat-icon></button>
                    </mat-card-actions>
            </mat-card>
            <div #scrollMarker id="scrollMarker"></div>
        </div>
        <div *ngIf="loading" class="loading-indicator">
            Loading...
        </div>
    </div>
    <div class="image-modal" *ngIf="expandedImages.length > 0" (click)="closeImage()">
        <div class="image-container" (click)="$event.stopPropagation()">
          <button class="prev" *ngIf="currentImageIndex > 0" (click)="prevImage($event)">&#10094;</button>
          <img [src]="starBasePath + expandedImages[currentImageIndex]" alt="Expanded image" />
          <button class="next" *ngIf="currentImageIndex < expandedImages.length - 1" (click)="nextImage($event)">&#10095;</button>
        </div>
    </div>
      
</body>

