
body {
    height: 100%    ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("https://i.postimg.cc/c1Q3njM0/bg2.jpg");
    background-size: cover;
    background-position: center;
}

.go-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0);
  border: none;
  border-radius: 25px;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.go-to-top:hover {
  opacity: 1;
}

#feed{
    height: 92%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
}

.postinput{
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-radius: 25px;
    background-color: #161215;
    border-color: #4e444b;
    border-width: 1px;
}

.navprofile{
  background-size: cover; 
  background-position: center; 
  cursor: pointer;
  height: 30px;
  width: 30px;
  margin-right: 10px;
}
.mat-mdc-card-subtitle{
  margin-left: 10px;
  color: rgb(126, 126, 126);
  cursor: pointer;

}

.postUserProfile{
  background-size: cover; 
  background-position: center;    
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  margin-bottom: 16px;
  object-fit: cover;
}

.datewrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5px;
}

#calendar{
  height: 20px;
  width: 20px;
  margin-top: 4px;
  font-weight: bolder;
  color: rgb(126, 126, 126);
}

.profileBanner{
  min-width: 8vw;
  min-height: 8vw;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.5);
  background-color: rgb(22, 18, 21);
  cursor: pointer;
  position: relative;
  top: 7vh;
  margin-left: 10px;
}

.wrapper{
  display: flex;
  align-items: center;
  min-width: 100%;
}

.profiletext{
  align-items: start;
  justify-content: start;
  display: flex;
  margin-top: 5px;
  margin-bottom: 10px;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}
.background-div {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center;
  margin-top: 0px;
  margin-bottom: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}


.columnflexdivs{
  display: flex; 
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 15px;
}

.profileDesc{
  font-size: 2vh;
}

h1{
  font-size: 4vh;
  font-weight: lighter;
  color: white;
  margin-left: 5px;
}

h3{
  
  font-size: 2vh;
  font-style: italic;
  color: rgb(126, 126, 126);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  margin-left: 5px;
}

p{
  
  padding-top: 10px;
  margin-left: 5px;
  color: white;
}

#editDesc{
  height: 25px;
  width: 25px;
  margin-top: 4px;
  font-weight: bolder;
  color: rgb(126, 126, 126);
}
#editDesc:hover{
  
  color: rgb(32, 51, 136);
}

.textdiv{
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#logoinput{
    display: flex;
    flex-direction: row;
}

.followDivButton{
  display: flex; justify-content: center; align-items: start; height: 100%; margin-top: 20px; margin-right: 20px;
}

#followButton{
  max-width: 100px;
}

#postbutton{
    width: 20%;

}

.example-form {
    margin-left: 15px;
    width: 100%;
    color: white;

  }
  
  .example-full-width {
    min-width: 100%;
  }

  

#scroll{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: relative;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.1) rgba(255, 255, 255, 0.1);
    align-items: center;
    z-index: 10;
}

#nav {
    background: rgba(0, 0, 0, 0.6);
    height: 80px;
    z-index: 16;
    border-bottom: 1px solid rgb(28, 29, 32);
}


.example-spacer {
    flex: 1 1 auto; 
  }


label{
    color: #ffffff;
    font-size: 1em;
    justify-content: center;
    display: flex;
    margin: 10px 30px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
    margin-bottom: 25px;
}

#divPreview{
  display: flex;
  flex-direction: row;
  
  min-width: 100%;
  max-width: 80%;
}

.custom-file-upload{
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 0.8em;
}

.custom-file-upload:hover{
  color: rgb(74, 95, 209);
}

#uploadicon{
  margin-right: 10px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    
}

.content{
  font-size: smaller;
}

#pozadina{
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
}

.example-card {
    margin-left: 2px;
    margin-right: 2px;
    min-width: 80%;
    max-width: 80%;
    margin-top: 20px;
    margin-bottom: 10px;
    min-height:auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .mat-mdc-card-header{
    display: flex;
    padding: 16px 16px 0;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-bottom: 10px;
  }
  

  .mat-mdc-card-avatar{
    margin-bottom: 0px;
  }
  .image-container-post {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .image-box-post {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .image-box-post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .remove-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    cursor: pointer;
  }

.profileButton {
  position: absolute;
  bottom: -1.7vh; /* Adjust as needed to position slightly outside the profile image */
  right: -1vw;
  color: rgb(255, 255, 255);
  border: none;
  background-color: rgba(0, 0, 0, 0.6); /* Add background to make it visible */
  border-radius: 50%;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
  z-index: 10;
}

.profileButton mat-icon {
  font-size: 25px;
}

.profileButton:hover {
  opacity: 1;
}

  #profileChangeLink{
    color: rgb(0, 81, 255);
    text-decoration: underline;
    cursor: pointer;
    top: 8vh;
    font-size: 1.2vh;
    position: relative;
    margin-top: 0.8vh;
  }

  .followers{
    font-size: 1.2vh;
    margin-top: 0.8vh;
  }
  .followers-count{
    font-size: 1.8vh;
    font-weight: bold;
  }
  
  .backgroundButton{
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.6); /* Add background to make it visible */
    border-radius: 50%;
    opacity: 0.8;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
  }
  .backgroundButton mat-icon {
    font-size: 25px;
  }

  .backgroundButton:hover{
    opacity: 1;
  }
  
  .remove-btn:hover {
    background-color: darkred;
  }
  .italic {
    font-style: italic;
    font-size: smaller;
    color: gray;
    margin-left: 5px;
    padding-top: 5px;
  }
  .joined{
    color: rgb(126, 126, 126);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    
    font-size: 1.5vh;
  }
  
  .previewImage{
    margin: 0px;
    max-width: 100%;
  }

  .postButton{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    margin-top: 10px;
  }

  .carddiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }

  .title{
    padding-left: 10px;
  }


  #logo{
    cursor: pointer;
  }

  #scrollMarker {
    margin-bottom: 10px;
    background-color: red;
  }
  
  .image-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    cursor: pointer;
  }
  
  .image-modal img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .image-container {
    position: relative;
    max-width: 80%;
    max-height: 80%;
  
  }
  
  .image-container img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .image-modal .prev,
  .image-modal .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.8);
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    z-index: 1001;
  }
  
  .image-modal .prev {
    left: -50px;
  }
  
  .image-modal .next {
    right: -50px;
  }
  
  .image-modal .prev:hover,
  .image-modal .next:hover {
    background: white;
  }
  
  
  img{
    max-width: 60%;
    margin: 15px 25px 15px 25px;
    cursor: pointer;
  }
  mat-grid-tile {
    background: rgb(13, 13, 14);
  }
  
  mat-grid-list{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 10%;
    max-width: 80%;
  }
  #onlyImageDiv{
    display: flex;
    justify-content: start;
    height: 50%;
  }
  
  #onlyImage{
    background: rgb(13, 13, 14);
  }
  
  .overlay {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    width: calc(33.33% - 10px);
    height: auto;
  }
  
  .overlay span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .profile{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: fit-content;
    background-color: rgb(22, 18, 21);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  #backgroundImage{
    min-width: 100%;
    height: 70%;
    background-size: cover; 
    background-position: center; 
    margin-top: 0px;
    margin-bottom: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }


  


  